#main {
  width:  640px;
  height: 400px;
  border: 1px solid black;
  background-image: url("images/background/kremlin_1400x1050.jpg");
  background-color: red;
  background-size: 640px 400px;
}

table.tetris-board  {
  position: relative;
  top: 20px;
  left: 240px;
  
  border: 1px solid red;

  border-collapse: separate;
  border-spacing: 0px;

  background-color: black;
  opacity: 1.0;
}

table.tetris-board td {
  box-sizing: border-box;
  width:16px;
  height:16px;
  
}

table.tetris-board td.filled {
  background-image: url("images/blocks/icons/a.png");
  opacity: 1.0;
}

table.tetris-board td.filled.I {
  background-image: url("images/blocks/icons/i.png");
  opacity: 1.0;
}

table.tetris-board td.filled.O {
  background-image: url("images/blocks/icons/o.png");
  opacity: 1.0;
}

table.tetris-board td.filled.L {
  background-image: url("images/blocks/icons/l.png");
  opacity: 1.0;
}

table.tetris-board td.filled.J {
  background-image: url("images/blocks/icons/j.png");
  opacity: 1.0;
}

table.tetris-board td.filled.Z {
  background-image: url("images/blocks/icons/z.png");
  opacity: 1.0;
}

table.tetris-board td.filled.S {
  background-image: url("images/blocks/icons/s.png");
  opacity: 1.0;
}

table.tetris-board td.filled.T {
  background-image: url("images/blocks/icons/t.png");
  opacity: 1.0;
}

div#info table{
  color: white;
  background-color: black;
  opacity: 0.7;
  width: 200px;
}
