table {
  position: relative;
  top: 20px;
  left: 240px;
  
  border: 1px solid red;

  border-collapse: separate;
  border-spacing: 0px;
}

td {
  box-sizing: border-box;
  width:16px;
  height:16px;
}

td.filled {
  border: 2px solid red;
  background-color: orange;
}

#main {
  width:  640px;
  height: 400px;
  border: 1px solid black;
  background-image: url("images/background/sh_level_00.gif");
  background-color: red;
}